<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
 <meta charset="utf-8">
 <title>Vue-js | Django | Crud App</title>
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <meta name="description" content="A simple crud app made with the vue js and django">
 <meta name="keywords" content="vuejs, django, crudapp, restapi">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>


 <body>
 <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

 <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
 <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.5"></script>


    <div id="starting">
      <div class="container">
        <div class="row">
          <h1>List of Questionss
          <button class="btn btn-success">ADD QUESTION</button>
          </h1>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Heading</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="question in questions">
                <th scope="row">${question.title}</th>
                <td>${question.text}</td>
                <td>
                  <button class="btn btn-info" v-on:click="getQuestion(question.id)">Edit</button>
                  <button class="btn btn-danger" v-on:click="deleteQuestion(question.id)">Delete</button>
                 <button  type="button" class="btn btn-primary" data-toggle="modal" data-target="#addArticleModal">Add Question</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="loading" v-if="loading===true">Loading&#8230;</div>
    </div>

 </body>


<script type="text/javascript">
 new Vue({
   el: '#starting',
   delimiters: ['${','}'],
   data: {
   questions: [],
   loading: false,
   currentQuestion: {},
   message: null,
   newQuestion: { 'question_title': null, 'question_text': null },
 },
 mounted: function() {
  this.getQuestions();

 },
 methods: {

 getQuestions: function() {
  this.loading = true;
  this.$http.get('/ask/api/question/')
      .then((response) => {
        this.questions = response.data;
        this.loading = false;
      })
      .catch((err) => {
       this.loading = false;
       console.log(err);
      })
 },
 getQuestion: function(id) {
  this.loading = true;
  this.$http.get(`/ask/api/question/${id}/`)
      .then((response) => {
        this.currentQuestion = response.data;
        this.loading = false;
      })
      .catch((err) => {
        this.loading = false;
        console.log(err);
      })
 },
 addQuestion: function() {
  this.loading = true;
  this.$http.post('/ask/api/question/',this.newQuestion)
      .then((response) => {
        this.loading = false;
        this.getQuestions();
      })
      .catch((err) => {
        this.loading = false;
        console.log(err);
      })
 },
 updateQuestion: function() {
  this.loading = true;
  this.$http.put(`/ask/api/question/${this.currentQuestion.question_id}/`,     this.currentQuestion)
      .then((response) => {
        this.loading = false;
        this.currentQuestion = response.data;
        this.getQuestions();
      })
      .catch((err) => {
        this.loading = false;
        console.log(err);
      })
 },
 deleteQuestion: function(id) {
  this.loading = true;
  this.$http.delete(`/ask/api/question/${id}/` )
      .then((response) => {
        this.loading = false;
        this.getQuestions();
      })
      .catch((err) => {
        this.loading = false;
        console.log(err);
      })
 }



 }
 });

 </script>

</html>

