@import "~vue-material/dist/vue-material.min.css";
@import "~vue-material/dist/theme/engine"; // Import the theme engine

@include md-register-theme("default", (
        primary: md-get-palette-color(teal, 300), // The primary color of your application
        accent: md-get-palette-color(amber, 600), // The accent or secondary color
        theme: light // dark
));

// make sure the drawer only opens enough to read the text
.md-drawer {
  width: 200px;
}

.md-list-item {
  :hover {
    background-color: md-get-palette-color(teal, 50);
  }
}

@import "~vue-material/dist/theme/all"; // Apply the theme